body,

body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', 
    Calibri, 'Trebuchet MS', sans-serif;
}

body {
    color: blueviolet;
    font-size: 20px;
    margin-top: 10px;
}

div {
    width: 400px;
    padding: 20px;
    margin: auto;
    height: 800px;
}

.background {
    background-color: red;
}

    h1 {
        font-size: 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    }
    p {
        color: white;
        text-align: bottom;
        font-size: 20px;
        
    }
